body {
    background-color: lightskyblue;
} 

.forms {
    background-color: rgb(254, 255, 188);
    display: flex;

    margin: 1%;
}

.postElms{
    background-color: aqua;
    display: flexbox;

    margin: 2%;
}


.updateElms{
    background-color: rgb(69, 255, 36); 
    display: flexbox;

    margin: 2%;
}

.deleteElms{
    background-color: rgb(255, 60, 109);
    display: flexbox;

    margin: 2%;
}

.searchElms{
    background-color: yellow;
    display: flexbox;

    margin: 2%;
}

.displayElms{
    background-color: aquamarine;
    display: flex;

    margin-left: 5%;
    margin-right: 5%;
}

