.forms {
    background-color: rgb(254, 255, 188);
    display: flex;

    margin: 1%;
}

.forms>postElms{
    background-color: aqua;
    display: flex;

    margin: 10%;
}


.forms>updateElms{
    background-color: khaki; 
    display: flex;

    margin: 10%;
}

.forms>deleteElms{
    background-color: hotpink;
    display: flex;

    margin: 10%;
}

.displayElms{
    background-color: aquamarine;
    display: flex;

    margin-left: 5%;
    margin-right: 5%;
}

