/* MAINELEMENTS */

body {
    background-color: rgb(181, 255, 230);
} 

.request_message {
    display: inline;
     margin: 40%;
      background-color:  rgb(88, 230, 255);
       border-radius: 5px;
}

.forms {
    background-color: rgb(254, 255, 188);
    display: flex;

    margin: 1%;
    border-radius: 35px;
}

/* POST */
.postElms{
    background-color: aqua;
    display: flexbox;

    margin: 2%;
    border-radius: 15px;
}

.postForm {
    margin-left: 2%;
}

.postElms>h3 {
    background-color: rgb(255, 132, 132); margin-left: 10%; margin-right: 10%; border-radius: 5px;
}

/* PUT */
.updateElms{
    background-color: rgb(69, 255, 36); 
    display: flexbox;

    margin: 2%;
    border-radius: 15px;
}
.updateElms>h3 {
    background-color:  rgb(255, 120, 57); margin-left: 10%; margin-right: 10%; border-radius: 5px;
}

.putForm {
    margin-left: 2%;
}

/* DELETE */
.deleteElms{
    background-color: rgb(255, 60, 109);
    display: flexbox;

    margin: 2%;
    border-radius: 15px;
}

.deleteElms>h3 {
    background-color:  rgb(70, 255, 116); margin-left: 10%; margin-right: 10%; border-radius: 5px;
}


/* SEARCH */

.searchElms{
    background-color: yellow;
    display: flexbox;

    margin: 2%;
    border-radius: 15px;
}

.searchElms>h3 {
    background-color:  rgb(130, 255, 245); margin-left: 10%; margin-right: 10%; border-radius: 5px;
}

/* CLIENT DISPLAY */
.displayElms{
    background-color: rgb(254, 255, 188);
    display: flex;

    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}
