* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#careerdevs_logo {
    border-radius: 33px;
    width: 150px;
    height: 100%;
    margin: .3%;
}

#headline {
    font-size: 60px;
}
#banner {
margin: .3%;
background-color:   #4097ff ;
display: flex;
flex-direction: row;
box-shadow: 2px 1px 3px;
border-radius: 10px;
}
body {
    margin: 0;

    background-color: aqua;
}
.Main {

    display: flex;

}

.Navigation {

    margin: .5%;

    flex: .11;

    display: flex;

    flex-direction: column;
}
.Graduates_info {

    flex: 1;

    display: flex;
    
    background-color: rgb(255, 247, 179);

    margin: 1%;
    
    border-radius: 20px;

    
}

.searchElms{
    background-color: rgb(255, 247, 179);
    display: flexbox;

    /* margin: 2%; */
    border-radius: 15px;
}

#get_all {

    border-radius: 25px;

}

#search_grads {

    border-radius: 25px;

}

#get_recent {

    border-radius: 25px;

}