doctype html 
html
    head
        title PixelBase

        style
             include ../public/home.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            .searchForUser
                br
                br
                h1.message#userSearchMsg Find A User By Username And Browse Their Post
                input#userSearch(type="text" placeholder="Username")
                br
                br
                button#searchForUserSub Search For A Users
                button#publicProfile

            .navigation
                if username != undefined
                    br
                    br
                    h3.message You are Signed in as
                    h1.message#userNameHeading= username

                    button#privateProfile Go To Your Profile Page ( Edit Mode )

                    button#userPublicProfile Vist Public Version Of Your Profile Page
                else
                    br
                    br
                    h1.message Log in or Sign Up

                    button#signin Go To Sign In Page

                    button#signup Go To Sign Up Page