doctype html 
html
    head
        title PixelBase

        style
             include ../public/home.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            .searchForUser
                br
                br
                h1.message Find A User By Username And Browse Their Post
                input#userSearch(type="text" placeholder="Username")
                br
                br
                button#searchForUserSub Search For A Users

            .navigation
                br
                br
                h1.message Log in or Sign Up

                button#signin Go To Sign In Page

                button#signup Go To Sign Up Page