doctype html 
html
    head
        title PixelBase

        style
             include ../public/home.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            br
            br
            h1#message Log in or Sign Up

            button#signin Go To Sign In Page

            button#signup Go To Sign Up Page