doctype html 
html
    head
        title Logout Page

        style
             include ../public/home.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            h1#message Log in or Sign Up

            button#signinredirect Go Back To Sign In Page

            button#signupredirect Go Back To Sign Up Page