doctype html 
html
    head
        title Logout Page

        style
             include ../public/logout.css

        script
             include ../public/logout.js

    body
        .mainContainer
            h1#message You Have Been Logged Out

            button#signin Go Back To Sign In Page