doctype html 
html
    head
        title Logout Page

        style
             include ../public/logout.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            h1#message You Have Been Logged Out

            button#signin Go Back To Sign In Page
            br
            button#home Go To Homepage