doctype html 
html
    head
        title Redirect Page

        style
             include ../public/redirect.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            h1#message=redirectMsg

            button#signin Go Back To Sign In Page
            br
            button#home Go To Homepage