doctype html 
html
    head
        title Sign Up For Pixelbase

        style
             include ../public/signup.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            br
            h1.message#headmessage Sign Up For An Account
            form#signupform
                label.lables(for='name') Full Name - 
                input#name.form-control(type='text', placeholder='Full Name' name='name')
                br 
                br
                label.lables(for='username') User Name - 
                input#username.form-control(type='text', placeholder='User Name' name='username')
                br
                br
                label.lables(for='email') Email - 
                input#email.form-control(type='text', placeholder='Account Email' name='email')
                br 
                br
                label.lables(for='password') Password - 
                input#password.form-control(type='text', placeholder='Password' name='password')
            button#signuprequest Sign Up

            h3.message#signinmessage Already Have An Account?
            button#signin Go To Sign In Page
