doctype html 
html
    head
        title Logout Page

        style
             include ../public/signin.css

        script
             include ../public/homeroute.js

    body
        .mainContainer
            br
            h1.message#headMsg Log Into Your Account
            form#signinform
                label.lables(for='email') Email - 
                input#email.form-control(type='text', placeholder='Account Email' name='email')
                br 
                br
                label.lables(for='password') Password - 
                input#password.form-control(type='text', placeholder='Password' name='password')
                br
                br
            button#signinrequest Sign In

            h3.message#footMsg Need An Account? Click Below To Sign Up
            button#goToProfile Click To Go To Your Profile
            button#signup Make An Account