doctype html
html
    head
        title username

        style
             include ./user.css

    body

    .page_box
        .profile_Info
            h2 User Name
            h2 Number of Post
            h2 Number of Likes

        .post
            h1 Post
