doctype html
html
    head
        title= username + "'s Profile"

        style
             include ./user.css

    body

    .page_box
        .profile_Info
            h2= username
            h2= "Posts " + totalPosts
            h2= "Likes " + totalLikes

        .createPost
            br
            form(action="http://localhost:3000/user/newpost", method="post")
                label(for='caption') Caption:
                input#caption.form-control(type='text', placeholder='Image Caption' name='caption')
                br
                br
                label(for='url') Image Url:
                input#url.form-control(type='text', placeholder='URL To Image' name='url')
                br
                br
                button(type='submit') Post Your Pic!
            br

        .post
            h1 Post
