body {
    background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.page_box {

    width: 100%;
    height: 100%;

    border-radius: 50px;

    display: inline-block;

    background-color: rgb(191, 255, 234);

}

.profile_Info {

    margin-top:10%;
    margin: 2%;
    
    display: flex;

    border-radius: 100px;

    background-color: black;
    
    text-align: center;
    
}

.profile_Info>h2 {

    flex: 1;
    background-color: aliceblue;

    padding: 10px;

    margin-left: 12%;
    margin-right: 12%;

    border-radius: 20px;
    
}

.createPost {
    background-color: #ffc98f;
    text-align: center;

    margin-left: 35%;
    margin-right: 35%;

    border-radius: 25px;
}

.createPost>form {
    margin: 0%;
}

.posts {
    display: flex;

    flex-wrap: wrap;

    background-color: black;

    margin: 10%;
    margin-top: 2%;

    border-radius: 100px;
}

.userpost {
    flex: 1;

    margin: 3%;
}

.userpost>h3 {
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

#newposthead {
    background-color: rgb(168, 255, 255);

    margin-left: 17%;
    margin-right: 17%;

    border-radius: 20px;
}

#url, #caption {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 5px;
}

#picPostBtn {
    border-radius: 10px;
    border: 0px;
    color: rgb(255, 255, 255);
    background-color: #ffd5eb;
}
