body {
    background-color: #222;
}

.mainContainer {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;

    text-align: center;
    background-color: #333;
    border-radius: 20px;

    transition: all ease-out 1s;

}

.mainContainer:hover {
    background-color: #222;
}

.navigation {
    flex: 1;
    background-color: #444;
    margin: 10%;
    margin-left: 0%;
    margin-right: 5%;
    border-radius: 20px;
    transition: all ease-out 1s;
}

.navigation:hover {
    background-color: #222;
}

.allPost {
    flex: .4;
    background-color: #444;
    margin: 15%;
    margin-right: 0%;
    margin-left: 5%;

    border-radius: 20px;
    transition: all ease-out 1s;
}

.allPost:hover {
    background-color: #222;
}

.allPost button {

    margin-top: 20%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: large;
    color: white;
    background-color: #ff9aab;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;

}

.allPost button:hover {

    color: #ffd6dd;
    background-color: black;
    transition-duration: .5s;
    transform: scale(.9,.9);

}

.searchForUser {
    margin: 10%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
    flex: 1.2;
    background-color: #444;
    transition: all ease-out 1s;

}

.searchForUser:hover {
    background-color: #222;
}

#userSearch {
    font-size: large;
    text-align: center;

    color: white;
    background-color: black;

    border: none;
    border-radius: 5px;

    transition: all ease-out 1s;

}

#userSearch:hover{
    
    background-color: #444;
    transition-duration: .5s;

}

#searchForUserSub {

    margin-bottom: 7%;
    font-size: large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;

}

#searchForUserSub:hover {

    color: #ffd6dd;
    background-color: black;
    transition-duration: .5s;
    transform: scale(1.1,1.1);

}

#publicProfile {

    display: none;
    
    margin-bottom: 7%;
    font-size: large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;

}

#publicProfile:hover {

    color: #ffd6dd;
    background-color: black;
    transition-duration: .5s;
    transform: scale(1.1,1.1);

}


.message {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;

    background-color: aquamarine;
    transition: all ease-out 1s;

}

.message:hover {

    background-color: #ffced6;
    transition-duration: 1s;

}

#privateProfile, #userPublicProfile {

    border: none;
    border-radius: 5px;

    font-size: large;

    background-color: #ffced6;
    color: white;
    text-shadow: black 1px 1px;
    width: 200px;

    padding: 10px;
    margin: 3%;

    transition: all ease-in-out 1s;
}

#privateProfile:hover, #userPublicProfile:hover {

    background-color: #ff93a5;
    
    transform: scale(1.1,1.1);

    transition-duration: .4s;
}

#userNameHeading {

    color: #333;
    text-shadow: rgb(255, 255, 255) 1px 1px;

}
#signin {
    margin-bottom: 7%;
    font-size: xx-large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;
}

#signin:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}


#signup{
    margin-bottom: 7%;
    font-size: xx-large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;
}

#signup:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}
