body {
    background-color: black;
}

.mainContainer {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;

    text-align: center;
    background-color: #222;
    border-radius: 20px;

    transition: all ease-out 1s;

}

.navigation {
    flex: 1;
    background-color: #333;
    margin: 10%;
    border-radius: 20px;

}

.searchForUser {
    margin: 10%;
    border-radius: 20px;
    flex: 1;
    background-color: #333;
}


.message {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;

    background-color: aquamarine;
    transition: all ease-out 1s;

}

.message:hover {

    background-color: #ffced6;
    transition-duration: 1s;

}


#signin {
    margin-bottom: 7%;
    font-size: xx-large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;
}

#signin:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}


#signup{
    margin-bottom: 7%;
    font-size: xx-large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;
}

#signup:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}
