body {
    background-color: black;
}

.mainContainer {
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 20%;

    text-align: center;
    background-color: #222;
    border-radius: 20px;
}

.mainContainer:hover {
    transform: scale(1.01,1.01);
    transition-duration: 1s;
    background-color: #333;
}

#message {
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;

    background-color: aquamarine;
    transition: all ease-out 1s;

}

#message:hover {

    background-color: #ffced6;
    transition-duration: 1s;

}


#signinredirect {
    margin-bottom: 7%;
    font-size: xx-large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;
}

#signinredirect:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}


#signupredirect{
    margin-bottom: 7%;
    font-size: xx-large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;
}

#signupredirect:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}
