body {
    background-color: #222;
}

:focus {
    outline: none;
  }
   
  ::-moz-focus-inner {
    border: 0;
  } 

.mainContainer {

    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 250px;
    transition: all ease-out 1s;

    background-color: #333;

    text-align: center;
}

.mainContainer:hover {
    transform: scale(1.01,1.01);
    transition-duration: 1s;
    background-color: #222;
}

.message {
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding: 7px;
    background-color: aquamarine;
    transition: all ease-out 1s;

}

.message:hover {

    background-color: #ffced6;
    transition-duration: 1s;

}

#signupform {
    padding: 4%;
    padding-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 9%;
    margin-top: 5%;
    border-radius: 10px;
    

    background-color: #555;
    transition: all ease-out 1s;
}

#signupform:hover{

    transform: scale(1.07,1.07);
    transition-duration: 1s;
    background-color: #222;
}

#signuprequest {
    margin-bottom: 2%;
    font-size: xx-large;
    color: white;
    background-color: #ff9aab;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 10px;
}

#signuprequest:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}

.colorSelection{
    display: grid;

    grid-template-columns: auto auto auto auto auto auto auto auto; 

}
.colorLables {
    cursor: pointer;
    margin: 2px;
    margin-top: auto;
    margin-bottom: auto;

    padding: 5px;
    font-size: large;
    border: none;
    border-radius: 3px;
    color: rgb(241, 241, 241);
    text-shadow: rgb(19, 19, 19) -1.4px -1px;
    transition: all ease-in-out .2s;
}


.colorLables:hover {
    color: rgb(255, 255, 255);
    opacity: 50%;
    transform: scale(.97,.97);
}


.lables {
    cursor: pointer;

    font-size: x-large;
    color: #777;
    transition: all ease-out 1s;

}

.lables:hover {
    color: white;
    transition-duration: 2s;

}

.form-control {
    text-align: center;
    font-size: larger;
    background-color: #333;
    color: white;
    border: none;
    transition: all ease-out 1s;

}

.form-control:hover {
    background-color: #777;
    transition-duration: 2s;

}

#signin {
    margin-bottom: 7%;
    font-size: large;
    color: white;
    background-color: #ff9aab;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    transition: all ease-out 1s;
    border-radius: 5px;
}

#signin:hover {
    color: #ffd6dd;
    background-color: aquamarine;
    transition-duration: .5s;
    transform: scale(1.2,1.2);

}