body {
    background-color: black;
}

.signup {
    background-color: white;
}

.request_and_response {

    display: flex;

}

.request_and_response>p{
    background-color: aquamarine;

    margin: 3%;
}